<?xml version="1.0" encoding="utf-8" ?>
<settings>
	<operation type="find" entity="file">
		<criteria name="age" op="gt" value="0" group="and"/>
		<criteria name="ext" op="eq" value="pdf" group="or"/>
		<criteria name="ext" op="eq" value="jpg" group="or"/>
		<criteria name="ext" op="eq" value="bmp" group="or"/>
		<include folder="D:\exchange\123\"/>
	</operation>
</settings>